useDynLib(cnfd)
importFrom("graphics", plot)
import(ggplot2, gridExtra)
exportClasses(nfd)
exportMethods(plot, show, summary)
export(NFD)
#export(NFD, get.distribution.mode, split.string, freq.dist, get.samples, nfd.simulation)
